.cover__subtitle {
    max-width: 360px;
    position: relative;
    font-family: "Inter", Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:400px) {
    .cover__subtitle {  
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    } 
} 