
.place__paragraph {
    max-width: 484px;
    font-size: 18px;
    line-height: 29px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width:350px){
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin-left: 16px;
        margin-right: 16px;
    } 
}   
 
.place__paragraph:not(:first-of-type) {
    margin-top: 26px;
}