.intro__text {
    position: relative;
    max-width: 690px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
    margin-top: 0px;

}
