.intro__title {
    position: relative;
   
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
}

@media screen and (max-width: 690px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 54px;
        width: 240px;
       
    }
}
@media screen and (max-width: 1024px) {
    .intro__title {
        margin-top: 92px;
    
    }
}
@media screen and (max-width: 768px) {
    .intro__title {
        margin-top: 0px;
    
    }
}
